<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jsonFormat" class="com.example.format.JSONFormat"/>
	<bean id="xmlFormat" class="com.example.format.XMLFormat"/>

	<!-- Format Service can be configured with jsonFormat or xmlFormat -->
	<bean id="formatService" class="com.example.FormatService">
		<property name="formatter" ref="xmlFormat"/>
	</bean>

</beans>